body {
    text-align: center;
    font-size: 24px;
}

#LoadMessage {
    position: fixed;
    text-align: center;
}

#Menu,
#HighScore {
    margin-top: 10px;
    display: none;
}

#Menu > * {
    margin: 0 10px;
}

#Restart {
    font-size: 20px;
}

.MenuLabel {
    color: #7342a0;
    font-weight: bold;
}

.hidden {
    display: none;
}
